@import url('https://fonts.googleapis.com/css?family=Roboto:wght@800|Raleway:wght@100;300;400;600;800|Press+Start+2P&display=swap');

* { box-sizing: border-box; padding: 0px; margin: 0px; font-family: 'Raleway', sans-serif; }
/*html, body, { height: 100%; width: 100%; }*/
.outer-wrapper { position: fixed !important; width: 100%; height: 100%; z-index: 1000; }
.outer-container { width: 100%; height: 100%; }

/*font family*/
.font-fam-1 { font-family: 'Raleway', sans-serif !important; }
.font-fam-2 { font-family: 'Roboto', sans-serif !important; }
.font-fam-3 { font-family: 'Press Start 2P', cursive !important; }

/*font size*/
.text-xs { font-size: 12px !important; }
.text-s { font-size: 16px !important; }
.text-m { font-size: 24px !important; }
.text-ml { font-size: 30px !important; }
.text-l { font-size: 35px !important; }
.text-xl { font-size: 45px !important; }

.header { color: rgb(32, 199, 198); border-bottom: 0.2px solid #777; }
.blockchain-block { min-width: 260px; width: 260px; height: 360px; background-color: rgb(104, 231, 189); padding: 10px; }
.blockchain-block-body { display: flex; flex-direction: column; justify-content: space-around; border: 0.1px solid #777; background-color: #fff; height: 90%; }
.blockchain-block-content { padding: 1px 5px; border-bottom: 0.1px solid #777; max-height: 150px; min-height: 20px; overflow-y: scroll; overflow-x: hidden; margin: 0px; }
.blockchain-block-content:last-child { border: none; }
.blockchain-block-data { width: 100%; line-height: 1.2; }
.terminal { height: 400px; background-color: #222; color: #048722; overflow-y: auto; overflow-x: hidden; font-family: "Courier New", Courier, monospace !important; }
.blockchain-chain { border: 0.1px solid #777; border-radius: .25rem; height: 380px; padding-bottom: 10px; padding-top: 10px; overflow-x: auto; overflow-y: hidden; }
.blockchain-chain > .blockchain-block + .blockchain-block { margin-left: 10px; }